{{#each errors}}
	<div class="alert alert-danger col-lg-8 mx-auto">{{text}}</div>
{{else}}
{{/each}}

<div class="container col-lg-8 mx-auto animated bounceInLeft">
<div class="card card-body">
	<br>
			<div class="text-center mx-auto">
				<img src="/img/logo.png">
			</div>
			<hr>
	<h3 class="text-center">Edit Scribble!</h3>
	<hr>
	<form action="/diary/{{idea.id}}?_method=PUT" method="POST" >
		<input type="hidden" name="_method" value="PUT">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" name="title" value="{{idea.title}}"required>
		</div>
		<div class="form-group">
			<label for="title">Content</label>
			<textarea class="form-control" name="details" required>{{idea.details}}</textarea>
		</div>
		<div class="text-center">		
			<button type="submit" class="btn btn-dark btn-block">Submit<i class="fa fa-paper-plane ml-2"></i></button>
		</div>
	</form>	
</div>
</div>